
<manifest
	xmlns:android="http://schemas.android.com/apk/res/android"
	package="id.web.risec1337">
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<application
		android:allowBackup="true"
		android:icon="@drawable/app_icon"
		android:label="@string/app_name"
		android:usesCleartextTraffic="true"
		android:theme="@style/AppTheme">
		<activity
			android:name=".MainActivity"
			android:configChanges="orientation|screenSize|keyboardHidden|smallestScreenSize|screenLayout"
			android:hardwareAccelerated="true"
			android:supportsPictureInPicture="true"
			android:theme="@style/AppTheme.FullScreen"
			android:screenOrientation="portrait">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity
			android:name=".MenuActivity"
			android:configChanges="orientation|screenSize|keyboardHidden|smallestScreenSize|screenLayout"
			android:hardwareAccelerated="true"
			android:supportsPictureInPicture="true"
			android:screenOrientation="portrait" />
		<activity
			android:name=".Error1Activity"
			android:configChanges="orientation|screenSize|keyboardHidden|smallestScreenSize|screenLayout"
			android:hardwareAccelerated="true"
			android:supportsPictureInPicture="true"
			android:theme="@style/AppTheme.FullScreen"
			android:screenOrientation="portrait" />
		<activity
			android:name=".RisectutorActivity"
			android:configChanges="orientation|screenSize|keyboardHidden|smallestScreenSize|screenLayout"
			android:hardwareAccelerated="true"
			android:supportsPictureInPicture="true"
			android:screenOrientation="portrait" />
		<activity
			android:name=".KumpulanscriptActivity"
			android:configChanges="orientation|screenSize|keyboardHidden|smallestScreenSize|screenLayout"
			android:hardwareAccelerated="true"
			android:supportsPictureInPicture="true"
			android:screenOrientation="portrait" />
		<activity
			android:name=".TutorialperetasActivity"
			android:configChanges="orientation|screenSize|keyboardHidden|smallestScreenSize|screenLayout"
			android:hardwareAccelerated="true"
			android:supportsPictureInPicture="true"
			android:screenOrientation="portrait" />
		<activity
			android:name=".AlatonlineActivity"
			android:configChanges="orientation|screenSize|keyboardHidden|smallestScreenSize|screenLayout"
			android:hardwareAccelerated="true"
			android:supportsPictureInPicture="true"
			android:screenOrientation="portrait" />
		<activity
			android:name=".ErrorActivity"
			android:configChanges="orientation|screenSize|keyboardHidden|smallestScreenSize|screenLayout"
			android:hardwareAccelerated="true"
			android:supportsPictureInPicture="true"
			android:theme="@style/AppTheme.FullScreen"
			android:screenOrientation="portrait" />
		<activity
			android:name=".DebugActivity"
			android:screenOrientation="portrait" />
		<uses-library
			android:name="org.apache.http.legacy"
			android:required="false" />
	</application>
</manifest>
